.container {
    padding: 10px;
}

.map-container, .data-container {
    display: inline-block;
    max-width: 50%;
}

.map-container {
    user-select: none;
}

.data-container {
    vertical-align: top;
}

.district-data {
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}

.district-data td, .district-data th {
    padding: 2px 5px;
    margin: 0px;
}
