.container {
    padding: 10px;
}

.map-container, .data-container {
    display: inline-block;
    max-width: 50%;
}

.map-container {
    user-select: none;
}

.data-container {
    vertical-align: top;
}

.data-container table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}

.data-container thead {
    border-bottom: 1px solid #ccc;
}

.data-container td, .data-container th {
    padding: 2px 5px;
    margin: 0px;
}

.map-buttons button {
    background-color: white;
    border: 1px solid #ccc;
    font-size: 1em;
    padding: 2px 6px;
    margin-right: 4px;
}
